{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Welcome to the home page</h1>
    <img src="{% static 'images/moodang.jpg' %}" alt="Moodang">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod temporibus corrupti distinctio. Ex alias tempora et veniam vitae minima, accusantium, architecto aliquam, ab eaque pariatur consequatur eligendi officiis quidem! Tempora vitae veniam delectus labore asperiores numquam voluptatibus, iste amet illo! Maiores harum excepturi architecto explicabo possimus culpa facilis quo. Numquam saepe labore eum non dolore, nam quidem rerum corrupti dolorem tempore harum facilis est aperiam qui omnis exercitationem vitae autem explicabo excepturi nihil sed veritatis eius amet. Fugit pariatur aperiam error, ut est exercitationem debitis libero inventore ratione accusantium, velit quo doloribus cupiditate adipisci, unde aut vero ad. Porro, ab?</p>
</body>
</html>